<!-- App Section -->
<section id="app" class="app">
    <div class="container text-center has-border">
        <h5>Our app is availble now, we made it easire, Download it now.</h5>
        <ul class="list-unstyled list-inline">
            <li><a href="https://bootstraptemple.com/" target="_blank" title="Google Play" class="btn-unique-white">Google Play</a></li>
            <li><a href="https://bootstraptemple.com/" target="_blank" title="Appstore" class="btn-unique-white">App Store</a></li>
            <li><a href="https://bootstraptemple.com/" target="_blank" title="Bootstrap Temple" class="btn-unique-white">Download this template</a></li>
        </ul>
    </div>
</section>
<!-- End App Section -->