<!-- Booking Section -->
<section id="booking" class="booking">
    <div class="container text-center">
        <header>
            <h2>Agenda tu evento</h2>
            <h3>Será un placer atenderte</h3>
        </header>

        <div class="row">
            <div class="form-holder col-md-10 col-md-push-1 text-center">
                <div class="ribbon">
                    <i class="fa fa-star"></i>
                </div>

                <h2>Datos de tu evento</h2>
                <h3>Reserva con 48hrs de anticipación</h3>

                <form id="booking-form" method="get" action="#">
                    <div class="row">
                        <div class="col-md-10 col-md-push-1">
                            <div class="row">
                                <label for="name" class="col-sm-6 unique">Nombre
                                    <input name="name" type="text" id="name" required>
                                </label>
                                <label for="email" class="col-sm-6 unique">e-Mail
                                    <input name="email" type="email" id="email" required>
                                </label>
                                <label for="number" class="col-sm-6 unique">Número teléfonico
                                    <input name="number" type="text" id="number" required>
                                </label>
                                <label for="people" class="col-sm-6 unique">Número de personas
                                    <input name="people" type="number" id="people" min="1" required>
                                </label>
                                <label for="date" class="col-sm-6 unique">Fecha del evento
                                    <input name="date" type="text" id="date" class="datepicker-here" data-language='en' required>
                                </label>
                                <label for="time" class="col-sm-6 unique">Horario
                                    <input name="time" type="text" id="time" class="timepicker" required>
                                </label>
                                <label for="request" class="col-sm-12 unique">Solicitud especial
                                    <textarea id="request" name="request" required></textarea>
                                </label>
                                <div class="col-sm-12">
                                    <button type="submit" class="btn-unique">Reserva ahora</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Booking Section -->


<!-- End Booking Section -->
<section id="contact" class="contact">
    <div id="map"></div>
    <div class="container text-center">
        <div class="form-holder">
            <header>
                <h2>Contactanos</h2>
                <h3>Si tienes dudas, llámanos</h3>
            </header>

            <form method="get" action="#" id="contact-form">
                <div class="row">
                    <label for="user-name" class="col-sm-6 unique">Nombre
                        <input type="text" name="username" id="user-name" required>
                    </label>
                    <label for="user-email" class="col-sm-6 unique">e-Mail
                        <input type="email" name="useremail" id="user-email" required>
                    </label>
                    <label for="message" class="col-sm-12 unique">¡Qué necesitas!
                        <textarea name="message" id="message" required></textarea>
                    </label>
                    <div class="col-sm-12">
                        <button type="submit" class="btn-unique" id="submit">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- End Booking Section -->