<!-- Booking Section -->
<section id="booking" class="booking">
    <div class="container text-center">
        <header>
            <h2>Order your table</h2>
            <h3>Enjoy your meal at our restaurant</h3>
        </header>

        <div class="row">
            <div class="form-holder col-md-10 col-md-push-1 text-center">
                <div class="ribbon">
                    <i class="fa fa-star"></i>
                </div>

                <h2>Make a reservation</h2>
                <h3>Book your table now</h3>

                <form id="booking-form" method="get" action="#">
                    <div class="row">
                        <div class="col-md-10 col-md-push-1">
                            <div class="row">
                                <label for="name" class="col-sm-6 unique">Name
                                    <input name="name" type="text" id="name" required>
                                </label>
                                <label for="email" class="col-sm-6 unique">Email
                                    <input name="email" type="email" id="email" required>
                                </label>
                                <label for="number" class="col-sm-6 unique">Number
                                    <input name="number" type="text" id="number" required>
                                </label>
                                <label for="people" class="col-sm-6 unique">How Many People
                                    <input name="people" type="number" id="people" min="1" required>
                                </label>
                                <label for="date" class="col-sm-6 unique">Date
                                    <input name="date" type="text" id="date" class="datepicker-here" data-language='en' required>
                                </label>
                                <label for="time" class="col-sm-6 unique">Time
                                    <input name="time" type="text" id="time" class="timepicker" required>
                                </label>
                                <label for="request" class="col-sm-12 unique">Special Request
                                    <textarea id="request" name="request" required></textarea>
                                </label>
                                <div class="col-sm-12">
                                    <button type="submit" class="btn-unique">Book Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Booking Section -->


<!-- End Booking Section -->
<section id="contact" class="contact">
    <div id="map"></div>
    <div class="container text-center">
        <div class="form-holder">
            <header>
                <h2>Contact Us</h2>
                <h3>Feel free to contact us</h3>
            </header>

            <form method="get" action="#" id="contact-form">
                <div class="row">
                    <label for="user-name" class="col-sm-6 unique">Name
                        <input type="text" name="username" id="user-name" required>
                    </label>
                    <label for="user-email" class="col-sm-6 unique">Email
                        <input type="email" name="useremail" id="user-email" required>
                    </label>
                    <label for="message" class="col-sm-12 unique">Your Message
                        <textarea name="message" id="message" required></textarea>
                    </label>
                    <div class="col-sm-12">
                        <button type="submit" class="btn-unique" id="submit">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- End Booking Section -->