<!-- Dishes Section -->
<section id="dishes" class="dishes">
    <div class="container text-center">
        <header>
            <h2>Signature Dishes</h2>
            <h3>Fresh and healthy food available</h3>
        </header>
        <!-- Set up your HTML -->
        <div class="owl-carousel owl-theme">
            <!-- item -->
            <div class="dish">
                <div class="profile">
                    <img src="img/dish-c.png" class="img-responsive" alt="dish name">
                    <div class="price">
                        <span>17$</span>
                    </div>
                </div>
                <div class="text">
                    <h4>Fried Shrimp</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
            </div>

            <!-- item -->
            <div class="dish">
                <div class="profile">
                    <img src="img/dish-b.png" class="img-responsive" alt="dish name">
                    <div class="price">
                        <span>17$</span>
                    </div>
                </div>
                <div class="text">
                    <h4>Fried Shrimp</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
            </div>

            <!-- item -->
            <div class="dish">
                <div class="profile">
                    <img src="img/dish-a.png" class="img-responsive" alt="dish name">
                    <div class="price">
                        <span>17$</span>
                    </div>
                </div>
                <div class="text">
                    <h4>Fried Shrimp</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
            </div>

            <!-- item -->
            <div class="dish">
                <div class="profile">
                    <img src="img/dish-c.png" class="img-responsive" alt="dish name">
                    <div class="price">
                        <span>17$</span>
                    </div>
                </div>
                <div class="text">
                    <h4>Fried Shrimp</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
            </div>

            <!-- item -->
            <div class="dish">
                <div class="profile">
                    <img src="img/dish-b.png" class="img-responsive" alt="dish name">
                    <div class="price">
                        <span>17$</span>
                    </div>
                </div>
                <div class="text">
                    <h4>Fried Shrimp</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
            </div>

            <!-- item -->
            <div class="dish">
                <div class="profile">
                    <img src="img/dish-a.png" class="img-responsive" alt="dish name">
                    <div class="price">
                        <span>17$</span>
                    </div>
                </div>
                <div class="text">
                    <h4>Fried Shrimp</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Dishes Section -->
