<!-- Events Section -->
<section id="events" class="events">
    <div class="container">
        <header class="text-center">
            <h2>Ocasiones Especiales</h2>
            <h3>No te olvides de los detalles</h3>
        </header>

        <div class="row">
            <!-- Profile Side  -->
            <div class="col-sm-6">

                <div class="profile has-border" style="background-image: url('<%=  image_url ('img/event-bg.jpg') %>' );">
                    <ul class="date list-unstyled list-inline clearfix">
                        <li class="day pull-left">18<sup></sup></li>
                        <li class="month pull-left">Junio <span>2017</span></li>
                    </ul>
                </div>
            </div>

            <!-- Details Side  -->
            <div class="col-sm-6">
                <div class="details">
                    <h3>Día del Padre</h3>
                    <h4 class="text-primary">18 Junio 2017 </h4>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                    <a href="#" class="read-more btn-unique">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Events Section -->
