<!-- Footer -->
<footer id="mainFooter" class="mainFooter">
    <div class="container">
        <div class="row">
            <div class="col-md-4 brief">
                <div class="header">
                    <img src="img/logo-footer.png" alt="italiano" width="100">
                </div>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>

            <div class="col-md-4 contact">
                <div class="header">
                    <h6>Contact</h6>
                </div>
                <ul class="contact list-unstyled">
                    <li><span class="icon-map text-primary"></span>Basioun, 23 July st, Egypt</li>
                    <li><a href="mailto:Italiano@Company.com"><span class="icon-phone text-primary"></span>Italiano@Company.com</a></li>
                    <li><span class="icon-mail text-primary"></span>9465 7675 294</li>
                    <li><span class="icon-printer text-primary"></span>333-999-666</li>
                </ul>
            </div>

            <div class="col-md-4 newsletter">
                <div class="header">
                    <h6>Newsletter</h6>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmo.</p>
                <form action="#" id="subscribe" class="clearfix">
                    <input type="email" name="subscribtion-email" placeholder="Enter Your Email Address" class="pull-left">
                    <button type="submit" class="btn-unique has-border pull-left">Subscribe</button>
                </form>
            </div>
        </div>

        <ul class="social list-unstyled list-inline">
            <li><a href="#" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#" target="_blank" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#" target="_blank" title="Skype"><i class="fa fa-skype"></i></a></li>
        </ul>
    </div>

    <div class="copyrights">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <ul class="list-unstyled list-inline">
                        <li><a href="#">Policy Privacy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>

                <div class="col-sm-7">
                    <p>&copy; 2017 Italiano Restaurant. Template By <a href="https://bootstraptemple.com/" target="_blank">BootstrapTemple.com</a></p>
                    <!-- Please do not remove the backlink to us unless you have purchased the attribution-free license at https://bootstraptemple.com. It is part of the license conditions. Thanks for understanding :) -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->