<!-- Hero Section -->
<section id="hero" class="hero">
    <div id="slider" class="sl-slider-wrapper">

        <div class="sl-slider">
            <!-- slide -->
            <div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                <div class="sl-slide-inner" style="background-image: url('<%= image_url ('img/hero-bg.jpg') %>');">
                    <div class="container">
                        <h2>This is <span class="text-primary">Italiano restaurant</span></h2>
                        <h1>Bootstrap Template</h1>
                        <p>An elegant Bootstrap template brought to you by <a href="https://bootstraptemple.com/" target="_blank">Bootstrap Temple</a>.</p>
                    </div>
                </div>
            </div>
            <!-- slide -->
            <div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                <div class="sl-slide-inner" style="background-image: url('<%= image_url ('img/hero-bg02.jpg') %>');">
                    <div class="container">
                        <h1>lorem ipsum dolor sit amit</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
            <!-- slide -->
            <div class="sl-slide bg-3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                <div class="sl-slide-inner" style="background-image: url('<%= image_url ('img/hero-bg03.jpg') %>');">
                    <div class="container">
                        <h2>Visit <span class="text-primary">italiano restaurant</span></h2>
                        <h1>lorem ipsum dolor sit amit</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
        </div><!-- End sl-slider -->

        <!-- slider pagination -->
        <nav id="nav-dots" class="nav-dots">
            <span class="nav-dot-current"></span>
            <span></span>
            <span></span>
        </nav>

        <!-- scroll down btn -->
        <a id="scroll-down" href="#about" class="hidden-xs"></a>

        <!-- social icons menu -->
        <div class="social">
            <div class="wrapper">
                <ul class="list-unstyled">
                    <li><a href="#" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#" title="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
                <span>Follow us on</span>
            </div>
        </div>
    </div><!-- End slider-wrapper -->
</section><!-- End Hero Section -->
