<div class="page-holder">
	<!-- Navbar -->
	<header class="header">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a href="index.html" class="navbar-brand"a>
						<%= image_tag "img/logo.png", :title => "Italiano", :class => "class" %></a>
							<div class="navbar-buttons">
                               <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu
									<i class="fa fa-align-justify"></i></button>
							</div>
				</div>
                <div id="navigation" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#hero">Home</a></li>
                        <li><a href="#about">Acerca de</a></li>
                        <li><a href="#services">Servicios</a></li>
                        <li><a href="#dishes">Pasteles</a></li>
                        <li><a href="#menu">Menu</a></li>
                        <li><a href="#gallery">Galería</a></li>
                        <li><a href="#booking">Pedido</a></li>
                        <li><a href="#contact">Contacto</a></li>
                    </ul>
                  <a href="#" class="btn navbar-btn btn-unique hidden-sm hidden-xs" id="open-reservation">Haz un pedido</a>
                        </div>
					</div>
                </nav>
            </header><!-- End Navbar -->
 </div>





            

            























       
