<!-- Services Section -->
<section id="services" class="services">
    <div class="container text-center">
        <header>
            <h2>Brindamos lo siguiente</h2>
            <h3>Nuestras especialidades</h3>
        </header>

        <div class="row">
            <!-- item -->
            <div class="col-sm-4 service">
                <div class="icon">
                    <i class="icon-like"></i>
                </div>
                <div class="text">
                    <h4>Trabajo con cariño</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                </div>
            </div>

            <!-- item -->
            <div class="col-sm-4 service">
                <div class="icon">
                    <i class="icon-hat"></i>
                </div>
                <div class="text">
                    <h4>Calidad &amp; y experiencia</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                </div>
            </div>

            <!-- item -->
            <div class="col-sm-4 service">
                <div class="icon">
                    <i class="icon-plate"></i>
                </div>
                <div class="text">
                    <h4>Ingredientes frescos y deliciosos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Section -->
